.card {
  padding: 1rem;
  color: $c-white;

  &--flex {
    display: flex;
    align-items: center;
    background: rgba($c-white, 0.1);
    max-width: 40rem;
  }
}

.card-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__title {
    font-size: 2.7rem;
  }

  &__content {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

.my-name {
  font-size: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
}
