

.wrapper {
  display: flex;
  align-items: center;
}

.my-image {
  padding: 1rem;
  min-width: 12rem;
}

.yo {
  min-width: 100%;
  height: auto;
  border: 1px solid $c-gray;
  border-radius: 0.5rem;
}

.content {
  padding: 1rem;
}

.about-me {
  line-height: 1.5rem;
}

.contact-methods,
.contact-methods p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  line-height: 2rem;

  & * + * {
    border-left: 1px solid $c-white;
  }
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-links {
  margin: 0.5rem 2.5rem;
  color: $c-white;
}
