.section {
  padding: 1rem;

  &--hero {
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.4)), url('/images/nashvilleSunset.jpg') no-repeat center center fixed; ;
    background-size: cover;
  }

  &--main {
    background: $c-white;
  }
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 12rem 0;
}
