.headroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: transform 300ms linear;
  will-change: transform;
  color: $c-gray;
  background: $c-white;
  box-shadow: 0.1rem 0 0.1rem 0.1rem $c-shadow;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.logo {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.nav-list {
  display: flex;
  margin: 0 -0.5rem;
}

.list-item {
  padding: 0 0.5rem;
}

// .scroll {
//   transition:
// }
