.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: $c-white;
  color: $c-gray;
}

.logo {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.nav-list {
  display: flex;
  margin: 0 -0.5rem;
}

.list-item {
  padding: 0 0.5rem;
}
