.title {
  padding: 2rem 0;
  border-bottom: 1px solid $c-gray
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: 2rem 0;
}

.grid-profile {
  flex-basis: calc(100%/3 - 2rem);
  flex-grow: 1;
  margin: 1rem;
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem rgba(0, 0, 0, .5);
}

.project-content,
.project-content p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0.5rem;

  & * + * {
    border-left: 1px solid $c-gray;
  }
}
